USE [PokupochkaDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20.05.2022 2:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractProduct]    Script Date: 20.05.2022 2:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractProduct](
	[ContractsId] [int] NOT NULL,
	[ProductsId] [int] NOT NULL,
 CONSTRAINT [PK_ContractProduct] PRIMARY KEY CLUSTERED 
(
	[ContractsId] ASC,
	[ProductsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 20.05.2022 2:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateStart] [datetime2](7) NULL,
	[DateOver] [datetime2](7) NULL,
	[WorkerId] [int] NULL,
	[StatusId] [int] NULL,
	[CountYears] [int] NOT NULL,
	[CounterpartyId] [int] NULL,
	[Number] [int] NOT NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Counterparties]    Script Date: 20.05.2022 2:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Counterparties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Company] [nvarchar](max) NOT NULL,
	[SecondName] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[Patronymic] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Counterparties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductRequest]    Script Date: 20.05.2022 2:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductRequest](
	[ProductsId] [int] NOT NULL,
	[RequestsId] [int] NOT NULL,
 CONSTRAINT [PK_ProductRequest] PRIMARY KEY CLUSTERED 
(
	[ProductsId] ASC,
	[RequestsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 20.05.2022 2:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductWarehouse]    Script Date: 20.05.2022 2:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductWarehouse](
	[ProductsId] [int] NOT NULL,
	[WarehousesId] [int] NOT NULL,
 CONSTRAINT [PK_ProductWarehouse] PRIMARY KEY CLUSTERED 
(
	[ProductsId] ASC,
	[WarehousesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 20.05.2022 2:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[CounterpartyId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_Requests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20.05.2022 2:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 20.05.2022 2:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Color] [nvarchar](max) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.05.2022 2:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 20.05.2022 2:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Size] [int] NOT NULL,
 CONSTRAINT [PK_Warehouses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 20.05.2022 2:50:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SecondName] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[Patronymic] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Workers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220418203444_InitialDatabase', N'6.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220419184704_add_user_fio', N'6.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220419190226_test-non-cascade-delete', N'6.0.4')
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([Id], [DateStart], [DateOver], [WorkerId], [StatusId], [CountYears], [CounterpartyId], [Number]) VALUES (2, NULL, NULL, NULL, 1, 5, 9, 1000000)
INSERT [dbo].[Contracts] ([Id], [DateStart], [DateOver], [WorkerId], [StatusId], [CountYears], [CounterpartyId], [Number]) VALUES (3, CAST(N'2022-05-20T02:44:48.5108075' AS DateTime2), CAST(N'2023-05-20T02:44:48.5108075' AS DateTime2), NULL, 3, 1, 9, 1000001)
INSERT [dbo].[Contracts] ([Id], [DateStart], [DateOver], [WorkerId], [StatusId], [CountYears], [CounterpartyId], [Number]) VALUES (4, CAST(N'2022-05-20T02:44:51.6757350' AS DateTime2), CAST(N'2025-05-20T02:44:51.6757350' AS DateTime2), NULL, 2, 3, 8, 1000002)
SET IDENTITY_INSERT [dbo].[Contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[Counterparties] ON 

SET IDENTITY_INSERT [dbo].[Counterparties] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Title], [Price], [Image]) VALUES (1, N'Мясо', 200, NULL)
INSERT [dbo].[Products] ([Id], [Title], [Price], [Image]) VALUES (2, N'Молоко', 50, NULL)
INSERT [dbo].[Products] ([Id], [Title], [Price], [Image]) VALUES (3, N'Сыр', 150, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Title], [Description], [Image]) VALUES (1, N'Администратор', N'Позволяет работать с пользовтелями системы "Покупочка" и получать отчётность организации.', N'admin.png')
INSERT [dbo].[Roles] ([Id], [Title], [Description], [Image]) VALUES (2, N'Кладовщик', N'Позволяет работать с товарами предприятия, меняя их количество в зависимоти от прихода, ухода продукции. Кладовщики получают принятые заявки от агентов.', N'storekeeper.png')
INSERT [dbo].[Roles] ([Id], [Title], [Description], [Image]) VALUES (3, N'Агент', N'Позволяет получать заявки на договора от поставщиков, заявки на покупки продукции от клиентов, а также формировать запросы на продукцию поставщикам.', N'agent.png')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Title], [Color]) VALUES (1, N'Новый', N'#4682B4')
INSERT [dbo].[Status] ([Id], [Title], [Color]) VALUES (2, N'Активный', N'#32CD32')
INSERT [dbo].[Status] ([Id], [Title], [Color]) VALUES (3, N'Отклонён', N'#FF0000')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [Password], [RoleId]) VALUES (1, N'ad', N'ad', 1)
INSERT [dbo].[Users] ([Id], [Login], [Password], [RoleId]) VALUES (24, N'st', N'st', 2)
INSERT [dbo].[Users] ([Id], [Login], [Password], [RoleId]) VALUES (25, N'ag', N'ag', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Workers] ON 

INSERT [dbo].[Workers] ([Id], [SecondName], [FirstName], [Patronymic], [Phone], [UserId], [Email]) VALUES (1, N'Админов', N'Админ', N'Админович', N'+8 (800) 555 35 21', 1, N'')
INSERT [dbo].[Workers] ([Id], [SecondName], [FirstName], [Patronymic], [Phone], [UserId], [Email]) VALUES (10, N'Кладов', N'Клад', N'Кладович', N'+7 (777) 777 77 77', 24, N'klad2022@yandex.ru')
INSERT [dbo].[Workers] ([Id], [SecondName], [FirstName], [Patronymic], [Phone], [UserId], [Email]) VALUES (11, N'Агентов', N'Агент', N'Агентович', N'+1 (010) 101 01 01', 25, N'agent007@yandex.ru')
SET IDENTITY_INSERT [dbo].[Workers] OFF
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT ((0)) FOR [CountYears]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT ((0)) FOR [Number]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[ContractProduct]  WITH CHECK ADD  CONSTRAINT [FK_ContractProduct_Contracts_ContractsId] FOREIGN KEY([ContractsId])
REFERENCES [dbo].[Contracts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContractProduct] CHECK CONSTRAINT [FK_ContractProduct_Contracts_ContractsId]
GO
ALTER TABLE [dbo].[ContractProduct]  WITH CHECK ADD  CONSTRAINT [FK_ContractProduct_Products_ProductsId] FOREIGN KEY([ProductsId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContractProduct] CHECK CONSTRAINT [FK_ContractProduct_Products_ProductsId]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Counterparties_CounterpartyId] FOREIGN KEY([CounterpartyId])
REFERENCES [dbo].[Counterparties] ([Id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Counterparties_CounterpartyId]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Status_StatusId]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Workers_WorkerId] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Workers] ([Id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Workers_WorkerId]
GO
ALTER TABLE [dbo].[Counterparties]  WITH CHECK ADD  CONSTRAINT [FK_Counterparties_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Counterparties] CHECK CONSTRAINT [FK_Counterparties_Users_UserId]
GO
ALTER TABLE [dbo].[ProductRequest]  WITH CHECK ADD  CONSTRAINT [FK_ProductRequest_Products_ProductsId] FOREIGN KEY([ProductsId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductRequest] CHECK CONSTRAINT [FK_ProductRequest_Products_ProductsId]
GO
ALTER TABLE [dbo].[ProductRequest]  WITH CHECK ADD  CONSTRAINT [FK_ProductRequest_Requests_RequestsId] FOREIGN KEY([RequestsId])
REFERENCES [dbo].[Requests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductRequest] CHECK CONSTRAINT [FK_ProductRequest_Requests_RequestsId]
GO
ALTER TABLE [dbo].[ProductWarehouse]  WITH CHECK ADD  CONSTRAINT [FK_ProductWarehouse_Products_ProductsId] FOREIGN KEY([ProductsId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductWarehouse] CHECK CONSTRAINT [FK_ProductWarehouse_Products_ProductsId]
GO
ALTER TABLE [dbo].[ProductWarehouse]  WITH CHECK ADD  CONSTRAINT [FK_ProductWarehouse_Warehouses_WarehousesId] FOREIGN KEY([WarehousesId])
REFERENCES [dbo].[Warehouses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductWarehouse] CHECK CONSTRAINT [FK_ProductWarehouse_Warehouses_WarehousesId]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Counterparties_CounterpartyId] FOREIGN KEY([CounterpartyId])
REFERENCES [dbo].[Counterparties] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Counterparties_CounterpartyId]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Status_StatusId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_Users_UserId]
GO
